:root {
  /* Colors: */
  --main-color: #2bb673;
  --secondary-color: #f9c041;
  --rate: #ffbb00;
  --muted-text: #747474;
  --white: #fff;
  --black: #000;
  --dark: #6e6e6e;
  --light: #9196a1;
  --input: #fafafa;
  
}
::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.6rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

* {
  font-family: "Bahij", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

@font-face {
  font-family: "Bahij";
  src: url("../font/Bahij/Bahij_TheSansArabic-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Bahij";
  src: url("../font/Bahij/Bahij_TheSansArabic-ExtraBold.ttf");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Bahij";
  src: url("../font/Bahij/Bahij_TheSansArabic-SemiBold.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Bahij";
  src: url("../font/Bahij/Bahij_TheSansArabic-Plain.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Bahij";
  src: url("../font/Bahij/Bahij_TheSansArabic-SemiLight.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Bahij";
  src: url("../font/Bahij/Bahij_TheSansArabic-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bahij";
  src: url("../font/Bahij/Bahij_TheSansArabic-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

p {
  margin: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.63);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}
/* ------------- global --------------- */
body {
  direction: rtl;
  line-height: 1.7;
}
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  position: relative;
  width: 80px;
  letter-spacing: 2px;
  display: inline-block;
  box-sizing: border-box;
  animation: floating 1s ease-out infinite alternate;
}
.loader img {
  width: 80px;
}
.loader::after {
  content: "";
  width: 80%;
  height: 20px;
  background: rgba(0, 0, 0, 0.424);
  position: absolute;
  left: 10%;
  top: 110%;
  filter: blur(4px);
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 1s ease-out infinite alternate;
}
.bg-light{
  background: #FAFAFA !important;
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-25px);
  }
}
@keyframes animloader {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.2);
  }
}
a {
  text-decoration: none;
  color: #000000;
}
ul {
  padding-right: 0rem !important;
  list-style: none;
}
.main-color {
  color: var(--main-color) !important;
}
.secondary-color {
  color: var(--secondary-color);
}
.bg-main-color {
  background-color: var(--main-color);
  color: #fff !important;
}
.bg-white {
  background-color: #fff;
  color: var(--main-color) !important;
}
.bg-secondary-color {
  background-color: var(--secondary-color);
  color: #fff !important;
}
::selection {
  color: #fff;
  background-color: #34347a50;
}
.nice-select {
  width: 100%;
  color: var(--dark);
}
.nice-select .list {
  width: 100%;
}
.nice-select {
  border: none;
}
.nice-select,
.nice-select .list li {
  text-align: right !important;
  padding-right: 18px;
  padding-left: 30px;
}
.nice-select:after {
  right: unset;
  left: 12px;
}
p + .form-control {
  margin-top: 0.75rem;
}
.form-control {
  padding: 0.75rem 0.75rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: 0.15s ease-in-out;
  box-shadow: none !important;
}
.accordion-button:not(.collapsed)::after {
  filter: brightness(0);
}
.accordion-button::after {
  margin-left: unset;
  margin-right: auto;
}
.link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  font-size: 21px;
}
.Stars::before {
  content: "★★★★★";
  background: linear-gradient(
    -90deg,
    #fc0 var(--percent),
    #b9b9b9 var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scrollUp {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
}
.more{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--main-color) !important;
}
.scrollUp i,
.scrollUp svg,
.more i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 35px;
  height: 35px;
  color: var(--main-color);
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 6px #00000029;
  transition: 0.5s;
  z-index: 8708;
}
.scrollUp i,
.scrollUp svg {
  font-size: 22px;
  width: 45px;
  height: 45px;
}
.link-more {
  color: var(--main-color) !important;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin-top: 10px;
}
.link-more .more i {
  background: var(--secondary-color);
}
.nav-tabs {
  border: none;
}
.breadcrumb {
  background-position: center center;
  background-size: cover;
  position: relative;
  color: var(--white) !important;
  margin: 0;
}
.breadcrumb .breaddata-wrapper{
  background-color: #00000091;
  width: 100%;
}
.breadcrumb h6,.breadcrumb a {
  line-height: inherit;
  margin-bottom: 0;
  font-weight: bold;
  color: var(--white) !important;
}
.breadcrumb .content {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 100px;
}
#scroll-to {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
#scroll-to i,
#scroll-to svg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  box-shadow: 0px 0px 6px #00000029;
  color: var(--main-color);
}
section {
  margin-top: 100px !important;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.62);
  z-index: 3;
}
.custom-btn,
.custom-btn-outline {
  font-size: 17px;
  padding: 0.5rem 2.4rem;
  color: #fff !important;
  border-radius: 35px;
  text-align: center;
  overflow: hidden;
  position: relative;
  line-height: 2;
  background: linear-gradient(to right, var(--secondary-color) 50%, var(--main-color) 50%);
  background-size: 220% 120% !important;
  background-position: left bottom !important;
  transition: all .3s ease-out;
}

.custom-btn:hover {
  background-position: right bottom !important;
}
.custom-btn-outline {
  background: transparent;
  border: 1px solid #fff;
}
/* ------ owl-carousels section ------  */
.owl-carousel .owl-stage-outer {
  position: relative;
}
.owl-carousel .owl-stage {
  display: flex;
}

/* ------------- navbar ------------ */
.navbar {
  padding: 0.5rem 0;
  width: 100%;
  z-index: 999;
  position: fixed;
  background: var(--white);
}
.navbar-nav {
  justify-content: space-evenly;
  width: 90% !important;
  margin: 0 auto;
}
.navbar-light .navbar-brand img {
  width: 130px;
  object-fit: contain;
  border-radius: 50%;
  overflow: initial;
}
.navbar a {
  color: var(--black) !important;
}
.navbar .nav-link.active {
  font-weight: bold;
}
.navbar .dropdown .show {
  display: block;
  max-height: 9999px;
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  animation: showAnimation 0.5s ease-in-out;
  -moz-animation: showAnimation 0.5s ease-in-out;
  -webkit-animation: showAnimation 0.5s ease-in-out;
  -moz-transition: max-height 1s ease-in-out;
  -o-transition: max-height 1s ease-in-out;
  -webkit-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  right: 0%;
}
.navbar .dropdown {
  cursor: pointer;
}
.navbar .dropdown .dropdown-menu {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
  background-color: transparent;
  border: none;
  width: max-content;
}
.navbar .dropdown .dropdown-menu a {
  margin: 5px 0;
  border-radius: 10px;
  display: block;
  padding: 0.25rem 1rem;
  background-color: var(--white);
  color: var(--main-color) !important;
  position: relative;
}

.navbar .dropdown .dropdown-menu li:first-child a{
  box-shadow: 0px 0px 20px 0px #00000008;
}
.navbar .dropdown .dropdown-menu li:first-child a::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--white);
  position: absolute;
  top: -6px;
  right: 25%;
}
.navbar .dropdown .hide {
  max-height: 0;
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  animation: hideAnimation 0.4s ease-out;
  -moz-animation: hideAnimation 0.4s ease-out;
  -webkit-animation: hideAnimation 0.4s ease-out;
  -moz-transition: max-height 0.6s ease-out;
  -o-transition: max-height 0.6s ease-out;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}
.navbar .dropdown .show,
.dropdown .hide {
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.navbar .dropdown .icon-arrow {
  position: absolute;
  display: block;
  font-size: 0.7em;
  color: var(--black);
  top: 14px;
  left: -10px;
}
.navbar .dropdown .icon-arrow.open {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  top: 10px;
}
.navbar .dropdown .icon-arrow.close {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}
/* .navbar .custom-btn {
  background: linear-gradient(to right, var(--main-color) 50%, var(--secondary-color) 50%) !important;
} */
.navbar .custom-btn {
  background-position: right bottom !important;
  color: var(--white) !important;
}
.navbar .custom-btn:hover {
  background-position: left bottom !important;
}
.heading,
.staff .nav-tabs .nav-link.active {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--main-color);
  font-weight: 600;
  position: relative;
  width: max-content;
  max-width: 100%;
  border-bottom: 3px solid;
  margin-bottom: 1.5rem;
  padding: 0.5rem 0;
}
.heading::before,
.staff .nav-tabs .nav-link.active::before {
  content: "";
  width: 10px;
  height: 10px;
  background: var(--secondary-color);
  border-radius: 50%;
  position: absolute;
  bottom: -1px;
  right: 0;
  transform: translate(50%, 50%);
}
.heading i,
.staff .nav-tabs .nav-link.active i,
.vision i {
  width: 35px;
  height: 35px;
  font-size: 16px;
  display: inline-block;
  background: var(--main-color);
  color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading span{
  width: calc(100% - 45px);
}

@keyframes hideAnimation {
  0% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(0.8);
  }
  80% {
    transform: scaleY(1.02);
  }
  100% {
    transform: scaleY(0);
  }
}
@keyframes showAnimation {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.04);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.04);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.02);
  }
  100% {
    transform: scaleY(1);
  }
}
/* ======================= home page ======================= */

/* ------------- header -------------- */
header {
  position: relative;
}
header .overlay {
  background: var(--black);
  opacity: 0.7;
}
header .mob-img {
  display: none;
}
header img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
header .header-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 9;
}
header .header-content .content {
  width: 70%;
  padding: 0.25rem;
  margin-bottom: 40px;
}
header .header-content .content h2 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 700;
}
header .header-content .content h2 span {
  line-height: 1;
  vertical-align: baseline;
  color: var(--main-color);
}
header .header-content .content p {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
}
header .header-content .owl-carousel.owl-rtl .owl-item {
  display: flex;
  align-items: center;
}
header .header-content .owl-carousel .owl-dots {
  width: 20px;
  position: absolute;
  left: 0px;
  top: 50%;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
}

header .header-content .owl-carousel .owl-dots .owl-dot{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(256, 256, 256, 0.4);
  margin: 5px;
  transition: all 0.4s;
}
header .header-content .owl-carousel .owl-dots .owl-dot.active{
  background: rgba(256, 256, 256, 1);
}


/* -------------- vision -------------- */
.vision p{
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 1rem;
}
.vision .vision-icon{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 30px;
}
.vision .vision-icon i{
  width: 110px;
  height: 110px;
  font-size: 40px;
  background: var(--secondary-color);
}

.list li {
  color: var(--main-color);
  font-weight: 400;
  position: relative;
  display: flex;
  padding-right: 28px;
}
.list li:not(:last-child){
  margin-bottom: .35rem;
}
.list li::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(50%);
  width: 14px ;
  height: 14px;
  background: var(--main-color);
  border-radius: 50%;
}
.list li::after{
  content: '';
  position: absolute;
  right: 9px;
  top: 4px;
  transform: translateY(50%);
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid var(--main-color);
}


/* -------------- about -------------- */
.about {
  text-align: start;
}
.about .about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--muted-text);
}
.about .about-content h3 {
  color: var(--black);
}
.about .list {
  margin-bottom: 1rem;
}

.about .vid-wrapper {
  position: relative;
  background: #fff;
  box-shadow: 0px 2px 3px #00000001;
  border-radius: 26px;
  padding: 10px;
  height: 100%;
}

.about .vid-wrapper img,
.about .vid-wrapper video {
  position: relative;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
  z-index: 2;
}
.about .vid-wrapper:after {
  content: "";
  position: absolute;
  top: 18px;
  border-radius: 26px;
  left: 0px;
  width: calc(100% - 60px);
  height: calc(100% - 20px);
  background: var(--main-color);
}
.about:last-child .vid-wrapper::after {
  left: unset;
  right: 0px;
}
.about .vid-wrapper.seo:after {
  content: "";
  position: absolute;
  bottom: 10px;
  top: unset;
  border-radius: 26px;
  left: 10px;
  width: 95%;
  height: 72%;
  background: var(--main-color);
}

.vid-wrapper {
  position: relative;
  width: 100%;
}
.vid-wrapper video {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.vid-wrapper img.video-cover-img {
  position: absolute;
  right: 10px;
  top: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px) !important;
  z-index: 5;
  cursor: pointer;
  border: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
  filter: brightness(0.65);
}
.vid-wrapper .play-icon,
.vid-wrapper .pause-icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color) !important;
  font-size: 14px;
  background: var(--white);
}
.vid-wrapper .play-icon:before,
.vid-wrapper .pause-icon:before {
  content: "";
  position: absolute;
  border: 10px solid #ffffff88;
  border-radius: 100%;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  box-shadow: 0 0 0 10px #ffffff55;
}

.vid-wrapper > span {
  position: absolute;
  top: 50%;
  left: -30px;
  z-index: 2;
  transform: translateY(-50%);
  background: var(--orange);
  padding: 10px 30px;
  color: var(--white);
}
.vid-wrapper > span::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  border: 15px solid var(--orange);
  border-left-color: transparent;
  border-top-color: transparent;
}
.vid-wrapper > span > .video-duration {
  vertical-align: baseline;
}

/* serv-items */
.serv-items .card {
  border: none;
  position: relative;
  border-radius: 20px;
  margin-bottom: .5rem;
  margin-top: 1rem;
  transition: .3s;
  background: transparent;
  z-index: 9;
}

.serv-items .card::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50px;
  top: 0;
  right: 0;
  transform: translate(0%, -35%);
  background: var(--secondary-color);
  z-index: -1;
  transition: .3s;
}

.serv-items .card .box-icon {
  width: 60px;
  height: 60px;
  background: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 20px;
  transition: .3s;
}

.serv-items .card .box-icon i {
  transition: .3s;
  line-height: 0
}

.serv-items .card-body h6 {
  font-weight: bold;
  margin: 1rem 0;
}

.serv-items .card-body {
  border-radius: 20px;
  background: var(--white);
}
.serv-items .card-body p {
  font-size: 14px;
}

.serv-items .card:hover{
  transform: translateY(-10px);
}
.serv-items .card:hover .box-icon {
  transform: rotate(-180deg);
  background: var(--main-color);
}

.serv-items .card:hover::after {
  top: 100%;
  right: 100%;
  transform: translate(100%, -65%);
  background: var(--main-color);
}
.serv-items .read_more{
  color: #114F8C;
  font-weight: 500;
  background: transparent;
  margin-top: .5rem;
}


/* ------ staff section ------  */
.staff .nav-tabs , .sub-gallery .nav-tabs{
  justify-content: center;
  gap: 50px;
}
.nav-tabs .nav-link {
  color: #7f7f7f;
  font-size: 18px;
  border: none;
}
.staff .nav-tabs .nav-link i {
  display: none;
}
.staff .card {
  background-color: var(--input);
  border-radius: 20px;
  border-radius: 20px;
  border: none !important;
  margin-top: 75px;
  padding-top: 170px;
}
.staff .card::after {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--secondary-color);
  border-radius: 0px 15px;
}
.staff .card .card-img-top {
  position: absolute;
  left: 1rem;
  right: .75rem;
  width: calc(100% - 1.5rem);
  top: -35px;
  mix-blend-mode: darken;
  border-radius: 20px;
  height: 200px;
  object-fit: cover;
  transition: .4s;
}
.staff .card h6 {
  color: var(--main-color);
}
.staff .card p {
  color: var(--muted-text);
  font-weight: 300;
  margin-bottom: 0.25rem;
}
.staff .card:hover .card-img-top {
  filter: brightness(0.86);
  transform: scale(1.05 , 1.1);
}
/* ------ membership sections ------ */
.membership {
 background: #efefef50;
 padding: 1.5rem 0;
 padding-right: 4rem;
}
.membership .card{
  margin-right: .5rem;
  padding: 2rem 1rem;
  border: none;
  background: var(--white);
  border-radius: 35px 0px 35px 35px;
}
.membership .card .card-header, .membership .card .card-footer{
  border: none;
  background: transparent;
}
.membership .card .icon{
  background: #2BB67320;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;
  padding: 18px;
}
.membership .card .card-title{
  color: var(--main-color) ;
  font-weight: 500;
  font-size: initial;
}
.membership .card .card-text{
  color: var(--muted-text);
  letter-spacing: 0px;
  font-size: 14px;
  font-weight: 400;
}
.membership .owl-carousel .owl-dots{
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 1rem;
}
.membership .owl-carousel .owl-dots .owl-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #40827B50;
  margin: 5px;
  transition: all 0.4s;
}
.membership .owl-carousel .owl-dots .owl-dot.active{
  background: #40827B;
}
.membership .custom-btn{
  display: block;
  width: max-content;
  margin: 2rem auto 0;
}
.membership .owl-prev,
.membership .owl-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(50% , -50%);
  background: var(--main-color) !important;
  font-size: 28px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white) !important;
  box-shadow: 0px 0px 25px #00000029;
}
.membership .owl-next{
  right: unset;
  left: 10px;
  transform: translate(50% , -50%);
}
.membership .owl-prev.disabled,
.membership .owl-next.disabled{
  opacity: .5;
}

.membership.activity .custom-btn{
  background: var(--white);
  color: var(--main-color) !important;
}


.sub-gallery .nav-tabs{
  gap: 30px;
  margin: 1rem 0;
}
.sub-gallery .nav-tabs .nav-link.active{
  color: var(--secondary-color);
  font-weight: bold;
}
.gallery-wrapper {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-areas:
      'item4 item2 item1'
      'item5 item3 item1';
  gap: 22px;
  padding: 10px;
}
.gallery-wrapper .item:nth-child(1) {
  grid-area: item1;
  height: 100%;
}
.gallery-wrapper .item:nth-child(2) {
  grid-area: item2;
}
.gallery-wrapper .item:nth-child(3) {
  grid-area: item3;
}
.gallery-wrapper .item:nth-child(4) {
  grid-area: item4;
}
.gallery-wrapper .item:nth-child(5) {
  grid-area: item5;
}

.gallery-wrapper .item {
  position: relative;
  height: 280px;
  overflow: hidden;
}
.gallery-wrapper .item img, .gallery-wrapper .item video{
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.op-video {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  background: var(--white);
  line-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color)!important;
  font-size: 14px;
}
.op-video:before {
  content: "";
  position: absolute;
  border: 10px solid #ffffff88;
  border-radius: 100%;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  box-shadow: 0 0 0 10px #ffffff55;
}
#videos-tab-pane .item:hover .op-video:before {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  -webkit-animation: ripple-out 1s infinite;
  animation: ripple-out 1s infinite;
}

@keyframes ripple-out {
  100% {
      top: -30px;
      right: -30px;
      bottom: -30px;
      left: -30px;
      opacity: 0;
  }
}

@-webkit-keyframes ripple-out {
  100% {
      top: -30px;
      right: -30px;
      bottom: -30px;
      left: -30px;
      opacity: 0;
  }
}


/* ------ join sections ------ */
.join-wrapper{
  background: #F8F8F8;
  border-radius: 45px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin-right: 1rem;
}
.c_img{
  position: relative;
}
.c_img img{
  object-fit: cover;
  max-height: 320px;
  border-radius: 0px 45px 45px 45px;
}
.happy_clients{
  background: var(--white);
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 21px 0px 21px 21px;
  padding: .75rem 1rem;
  width: max-content;
  position: absolute;
  bottom: 2rem;
  right: -1rem;
}
.happy_clients h6{
  color: var(--main-color);
  font-size: 14px;
  text-align: center;
}
.happy_clients_imgs{
  display: flex;
  align-items: center;
  transform: translateX(-10%);
}
.happy_clients_imgs img,
.more-clients{
  z-index: var(--zindex);
  transform: translateX(calc(var(--zindex) * 10px));
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  object-fit: cover;
}
.join-content{
  padding: 2rem 3rem;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: flex-start;  
  justify-content: center;
}
.join-content h6,
.join-content h5{
  margin: 0;
}

.join-content h6{
  color: var(--secondary-color);
}
.join-content h5{
  color: var(--main-color);
}


/* ------ partners sections ------ */
.activity{
  background: var(--main-color);
}
.activity .heading{
  color: var(--white) !important;
}
.activity  .heading i{
  color: var(--main-color);
  background: var(--white);

}
.activity .card {
  border-radius: 20px;
  margin-top: 2.7rem;
  padding-top: 3rem;
}
.activity .card .card-header{
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50% , -50%);
}
.activity .card .card-title{
  font-weight: bold;
}
.activity .card .icon {
  position: relative;
  background: var(--main-color);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 57px;
}
.activity .card .icon img{
  filter: brightness(0) invert(1);
}
.activity .card .icon::before{
  content: "";
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  position: absolute;
  background: var(--white);
  top: -3px;
  left: 50%;
  transform: translate(-50% , 0%);
  border-radius: 50%;
  z-index: -1;
}
/* ------ partners sections ------ */
.partners {
  background: #efefef50;
  padding: 5rem 0;
}
.partners .owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}
.partner {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 2px 3px #00000001;
}
.partner-wrapper {
  padding: 20px 15px;
}
.partner-wrapper img {
  filter: grayscale(1);
  opacity: 0.85;
}
.partner .partner-wrapper img {
  filter: grayscale(0);
  opacity: 1;
}
.partners img {
  object-fit: contain;
}

/* ------------- footer --------------- */
.send-email {
  position: relative;
  z-index: 3;
}
.send-email .container {
  background: var(--main-color);
  box-shadow: 0px 10px 20px #7b7b7b4d;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  color: #fff;
  padding: 2.5rem 2rem;
  padding-top: 3.5rem;
  position: relative;
}
.send-data {
  text-align: center;
}
.send-data .form-control,
.form-control:focus {
  padding: 0.75rem 1.5rem;
  border: 1px solid #eeeeee;
  border-radius: 10px;
}
.send-data button {
  color: #fff;
  background-color: var(--secondary-color);
  border-radius: 50px;
  padding: 0.5rem 4rem;
  min-width: 40%;
  margin-top: 1.5rem;
}

footer {
  position: relative;
}
footer .logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  position: relative;
}
footer .logo img {
  width: 210px;
  display: block;
  background: var(--white);
  position: relative;
  padding: 0 2rem;
}
footer .logo::before {
  content: "";
  display: inline-flex;
  width: 90%;
  position: absolute;
  height: 3px;
  border-radius: 5px;
  background: var(--main-color);
}

footer .footer-content {
  background: #fff;
  border-radius: 20px;
  padding: 4rem 2rem;
  margin-bottom: 1rem;
  position: relative;
  box-shadow: 0px 14px 30px #0000001a;
  margin-top: -5rem;
  padding-top: 6rem;
}
footer .footer-content h5 {
  color: var(--secondary-color);
  font-weight: bold;
}
footer .footer-content li {
  padding-top: 1.2rem;
}
footer .footer-content li a {
  color: var(--black) !important;
  font-weight: 500;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
  font-size: 24px;
  line-height: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.social-media .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0px;
  position: relative;
  border: 1px solid var(--main-color);
  color: var(--main-color) !important;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  font-size: 16px;
  opacity: 0.7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.copyrights a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0.5rem 0;
}
.copyrights img {
  width: 120px;
}
.copyrights span {
  /* color: #fff; */
  font-size: small;
}
.router-link {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
}

#fixed-social{
  position: fixed;
  bottom: 0px;
  right: 0px;
  font-size: 22px;
  line-height: 2px;
  vertical-align: middle;
  z-index: 898989;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  background: var(--white);
  padding: 1.5rem 1rem;
  gap: 18px;
}
#fixed-social .fa-envelope{
  color: var(--main-color) !important;
}
#fixed-social .fa-facebook-f{
  color: #3D6AD6 !important;
}
#fixed-social .fa-twitter{
  color: #03A9F4 !important;
}

/* ======================= services page =======================  */
.goals{
  background-color: #FAFAFA;
  padding: 3rem 0;
}
.goals .card{
  padding-top: 3rem;
  border-radius: 20px;
}
.goals .card .card-header {
  position: absolute;
  top: 0;
  right: 8px;
  transform: translate(0% , -50%);
}
.goals .card .icon {
  position: relative;
  background: var(--main-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: auto;
  padding: 14px;
  box-shadow: 0px 3px 16px #00000029;
}
.goals .card .icon::before {
  content: "";
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  position: absolute;
  background: #FAFAFA;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  border-radius: 50%;
  z-index: -1;
}
.goals .card .icon img {
  filter: brightness(0) invert(1);
}

/* ======================= services page =======================  */
.membership.page{
  padding: 0;
  background: transparent;
}
.membership.page .card{
  background: #FBFBFB
}
/* ======================= blog page =======================  */
.blogs .card{
  border: none;
}
.blogs .card .card-body{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:center;
  padding: 1rem 0;
}
.blogs .card .card-body ul.options li:not(:last-child){
  border-left: 1px solid #C9C9C9;
}
.blogs .card .card-img-top{
  height: 276px;
  border-radius: 20px;
}
.blogs .card .card-title{
  font-size: 18px;
  font-weight: bold;
}
.blogs .card p{
  font-size: 14px;
  margin: 0.5rem 0;
  color: #707070;
}
.blogs .card ul{
  width: 100%;
  display: flex;
  justify-content: space-around;
   padding-bottom: 0.7rem;
   border-bottom: 1px solid #ced4da;
   margin: 0 auto 1rem;
}
.blogs .card ul li{
  color: #7A7A7A;
  font-size: 12px;
  flex-grow: 1;
  text-align: center;
}

.blogs .card .card-body ul.options i{
  font-size: 14px;
  padding: 0 5px;
  color: var(--main-color);
}

/* ======================= services page =======================  */
.services-nav {
  background-color: var(--input);
  border-radius: 18px;
  padding: 2rem 1rem;
}
.services .services-nav .nav-link.active {
  color: #066868;
  font-weight: bold;
  background: transparent;
}
.services .services-nav .nav-link {
  color: #707070;
  text-align: right;
  margin: 8px 0px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 300;
  background: transparent;
}
.services .services-nav .nav-link .serv-pic,
.op-pro-filter .serv-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 15px;
  border: 1px dashed #066868;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .services-nav .nav-link .serv-pic img {
  filter: brightness(0) invert(0.4);
  width: 30px;
}
.services .services-nav .nav-link.active .serv-pic img,
.op-pro-filter .serv-pic img {
  filter: brightness(0) invert(1);
}
.services .services-nav .nav-link.active .serv-pic,
.op-pro-filter .serv-pic {
  background-color: #066868;
}
.op-pro-filter .serv-pic {
  width: 35px;
  height: 35px;
}
.op-pro-filter .serv-pic img {
  width: 20px;
}

.services-data {
  padding-right: 1.5rem;
}
.services .servHeadline {
  color: #066868;
  font-weight: bold;
  font-size: 21px;
  position: relative;
  padding: 0.45rem;
  padding-right: 1.45rem;
  margin: 1rem 0;
}
.services .servHeadline::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 100%;
  background: #066868;
  border-radius: 5px 0px 0px 5px;
  position: absolute;
  top: 0;
  right: 0;
}
.services-data p {
  color: #707070;
  font-weight: 300;
  margin-bottom: 1.75rem;
}

.services .services-data ol {
  list-style: none;
  margin-top: 1.75rem;
}
.services .services-data li {
  counter-increment: count;
  margin: 0.75rem 0;
}

.services .services-data li:before {
  content: counter(count);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  color: #066868;
  font-weight: 500;
  background: #fff;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 30%);
}
.services .custom-btn {
  background: #066868;
  font-weight: 500;
  /* width: 170px; */
}

.op-pro-filter {
  width: 100%;
  text-align: inherit;
  border-radius: 5px;
  background-color: transparent;
  color: #066868;
  border: 1px solid #066868;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-bottom: 20px;
  display: none;
  align-items: center;
  position: relative;
}
.op-pro-filter.active:after {
  transform: rotate(315deg);
  transition: all 0.3s;
  top: 30px;
}

.op-pro-filter:after {
  content: "";
  position: absolute;
  left: 15px;
  border-right: 2px solid #066868;
  border-top: 2px solid #066868;
  width: 10px;
  height: 10px;
  transform: rotate(135deg);
  transition: all 0.3s;
  top: 25px;
}

/* ======================= principle page =======================  */
.principle-wraper li {
  counter-increment: count;
  margin: 1rem 0;
  position: relative;
}
.principle-wraper li .card {
  background: #066868;
  color: #fff !important;
  border: none;
  padding: 1rem;
  border-radius: 15px;
}
.principle .principle-wraper li:before {
  content: counter(count);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #fff;
  border: 3px solid #fff;
  font-weight: 500;
  background: #066868;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 0;
  right: 0.5rem;
  transform: translatey(-50%);
  z-index: 99;
}

/* ======================= gallery page =======================  */
.gallery .photo a {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.gallery .txt-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  height: calc(100% - 35px);
  border-radius: 30px;
  transition: .5s ease;
  background-color: rgba(0,0,0,.5);
}
.gallery .txt-overlay .text {
  color: white;
  font-size: 16px;
  position: absolute;
  display: flex;
  align-items: end;
  padding: 1rem;
  inset: 0%;
}
.gallery .gallery-wrapper .item img, .gallery .gallery-wrapper .item video {
  transition: 0.4s;
  height: calc(100% - 35px) !important;
  object-fit: cover;
}
.gallery .gallery-wrapper .item h5{
  color: #40827B;
  /* margin-top: .5rem; */
}
.gallery .gallery-wrapper .item:hover .txt-overlay{
  opacity: 1;
}
.gallery .nav-tabs .nav-link.active{
  border-bottom: 0;
  color: var(--secondary-color);
}
.gallery .nav-tabs .nav-link.active::before{
  display: none;
}

/* -----------------  car-details page ----------------- */
.car-details .car-color-nav {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #9e9e9e29;
  border-radius: 12px;
  padding: 0.75rem 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
}
.car-details .nav-tabs .nav-item .nav-link {
  border: 0;
  margin-right: 1.5rem;
  color: #575757 !important;
  transition: 0.3s all;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px dashed #34347a;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.car-details .nav-tabs .nav-item .nav-link span {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  box-shadow: 0 0 0 1px transparent;
  transition: all 0.3s;
  margin: 0;
  border: none !important;
  box-shadow: 0px 3px 6px #00000029;
}
.car-details .nav-tabs .nav-item .nav-link.active {
  transform: scale(1.1);
}
.car-details .car-name {
  margin-bottom: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.car-details .car-img {
  border-radius: 20px;
  overflow: hidden;
}
.car-details .car-img img {
  height: 360px;
  object-fit: cover;
}
.car-details #common-q {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* =======================  articles page ======================= */
.article {
  text-align: center;
}
.article .article-wrapper .article-wrapper-img {
  border-radius: 19px;
  height: 320px;
  overflow: hidden;
  position: relative;
}
.article .article-wrapper .article-wrapper-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article .owl-nav button.owl-next,
.article .owl-nav button.owl-prev {
  position: absolute;
  font-size: 25px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 50%;
  color: var(--main-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 40px;
  height: 40px;
  top: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.article .owl-nav button.owl-next.disabled,
.article .owl-nav button.owl-prev.disabled {
  background-color: rgba(238, 238, 238, 0.911);
  /* opacity: 0.75; */
}
.article .owl-nav button.owl-next {
  left: 0%;
  transform: translate(-50%, 50%);
}
.article .owl-nav button.owl-prev {
  right: 0%;
  transform: translate(50%, 50%);
}
.article .article-wrapper p.cut-text {
  -webkit-line-clamp: 2;
  color: #9e9e9e;
  line-height: 1.8;
  margin: 1rem 0;
}

/* =======================  article page ======================= */
.sidebar {
  flex-grow: 1;
  height: 25vh;
  --offset: 9rem;
  position: sticky;
  top: var(--offset);
}
/* .main {
  flex-grow: 4;
} */

.adv{
  flex-grow: 1;
  margin-top: 2rem;
}
.adv .adv-space{
  min-height: 250px;
}
.adv-space{
  background: #FAFAFA;
  border-radius: 10px;
  padding: 2rem;
  border: 8px solid #EBECF0;
  text-align: center;
  margin: 0.65rem 0;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.adv-space h5{
  color: #989898;
}
.adv-space i{
  font-size: 2rem;
  color: #F9C041;
}
.single-article .article-img {
  height: 370px;
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover;
  margin: 1rem 0;
}
.single-article .article-img img{
  object-fit: cover;
}
.single-article .options{
  background-color: var(--secondary-color);
  border-radius: 8px;
  color: var(--white) !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .75rem;
  font-size: small;
}
.single-article .article-details p,
.single-article > .container > p {
  color: #262626;
  padding: 0.5rem 0;
}
.article_topics{
  background: #FAFAFA;
  border-radius: 10px;
  padding: 2rem 3rem;
  width: max-content;
}

.article_topics li a {
  display: inline-block;
  position: relative;
  color: #A1A1A1;
  padding: .6rem 0;
}
.article_topics li a::before{
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 8px solid #A1A1A1;
  padding-left: .5rem;
}
.article_topics li a.active{
color: var(--main-color);
font-weight: bold;
}
.article_topics li a.active::before{
  border-right: 8px solid var(--main-color);
}
.all-comment{
  width: 77%;
  margin-top: 2.5rem;
}
.singlearticles .card {
  padding: 20px;
  background: #FCFCFC;
}
.comment-detail {
  border-top: 1px solid #cccccc;
}
.singlearticles .head-comment {
  color: var(--main-color);
  font-weight: 600;
}
.singlearticles textarea {
  background: #FCFCFC;
}
.singlearticles .btn-comment {
  width: 180px;
  background-color: var(--main-color);
  color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
}
.person-comment {
  color: #735185;
}
.time-comment{
  color: var(--secondary-color);
}
.person-comment img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  object-fit: cover;
}

/* =======================  services page ======================= */
.services .your-comment .form-control,
.services .your-comment textarea {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #fbfbfb;
}
.services .your-comment textarea {
  padding: 1rem;
}

/* =======================  common que page ======================= */
#common-q h5 {
  color: var(--main-color);
}
#common-q .accordion-item {
  border: none;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 1rem;
  overflow: hidden;
}
#common-q .accordion-button:focus {
  border: none;
  box-shadow: none !important;
}
#common-q .accordion-button:not(.collapsed) {
  box-shadow: none;
  border: none;
}
#common-q .accordion-header {
  overflow: hidden;
  background: #f2f4fa;
  border-radius: 8px !important;
}
#common-q .accordion-button {
  color: var(--main-color);
  position: relative;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  font-weight: 500;
  font-size: large;
  padding: 1rem;
  text-align: right !important;
  border: none !important;
}
#common-q .accordion-body {
  padding: 0 1.25rem 1rem 1.25rem;
}
#common-q .accordion-body ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4b4b4b;
}

/* =======================  contact page ======================= */
/* contact us */
.contact-data{
  padding: 2.4rem 4rem;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 20px;
}
.contact-data .contact-info{
  background: #F9FAFC;
  text-align: center;
  padding: 20px;
  height: 100%;
}
.contact-data .contact-info h5{
  color: var(--main-color);
}
.contact-data img{
  width: 22px;
  margin: 10% 5%;
}
.contact-data h4{
  color: var(--main-color);
}
.phone-num{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contact-data label{
  margin-bottom: 15px;
  color: #A39D81;;
}
.contact-data .form-control ,
.contact-data textarea{
  background: #F9FAFC 0% 0% no-repeat padding-box;
  border: 1px solid #E9E9E9;
  border-radius: 5px;
}
.contact-data .form-control:focus,
.contact-data textarea:focus{
  border-color: var(--main-color);
}
.contact-data textarea{
  width: 100%;
  padding: 19px 30px;
}

@media (min-width: 992px) { 
  .contact-data :first-child .contact-info{
    border-top-right-radius: 40px ;
  }
  .comments-wrapper{
    width: 85%;
  }
  .your-comment{
    width: 50%;
  }
  
  .contact-data :last-child .contact-info{
    border-top-left-radius: 40px ;
  }
}
@media (max-width: 992px) { 
  .contact-data{
    padding: 2.4rem 2rem;
  }
}
/* ======================= env-arch page ======================= */

.arch-img{
  border-radius: 36px;
  overflow: hidden;
  max-height: 315px;
  object-fit: cover;
}
.arch-def{
  border: 14px solid var(--secondary-color);
  border-radius: 17px;
}
.arch-def img{
  border-radius: 0 4px 4px 0;
  max-height: 248px;
  object-fit: cover;
}
.arch-def-txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  height: 100%;
  text-align: center;
}
.arch-role .list li::before{
  top: -4px;
}
.arch-role .list li::after{
  top: 0px;
}
.arch-role .list li p{
  color: var(--black);
}
.arch-role .list li{
  margin-bottom: 1.5rem;
}
.about-data {
  padding: 0 5rem 0 0;
}
.arch-role img{
  border-radius: 0px 20px 20px 0px;
  max-height: 241px;
  object-fit: cover;
}
.goals ul li{
  display: flex;
  gap: 10px;
  font-weight: bold;
  font-size: 18px;
  align-items: center;
  margin-bottom: .5rem;
}
.goals ul li img{
  width: 60px;
  height: 60px;
}
@media(min-width: 992px){
  .goal{
    width: 65%
  }
  .w-lg-75{
    width: 75%;
  }
}
.goal .heading{
  width: 100%;
}
.Duties ol{
  padding: 0;
}
.Duties ol > li {
  padding: 20px;
  padding-right: 45px;
  display: flex;
  align-items: center;
  position: relative;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #C7C7C729;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-right: 30px;
}
.Duties .Duties-shape {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: #fff;
  font-size: large;
  top: 50%;
  right: 0;
  transform: translate(50% , -50%);
}
.Duties .Duties-shape img{
  width: 100%;
}
.Duties .Duties-img img{
  border-radius: 20px;
  min-height: 300px;
  max-height: 100%;
  object-fit: cover;
  margin-top: 3rem;
}

@media(min-width:1200px){
  .header-fixed {
    width: 100% 
  }
  
  .header-fixed > thead,
  .header-fixed > tbody,
  .header-fixed > thead > tr,
  .header-fixed > tbody > tr,
  .header-fixed > thead > tr > th,
  .header-fixed > tbody > tr > td {
    display: block;
  }
  
  .header-fixed > tbody > tr:after,
  .header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }
  
  .header-fixed > tbody {
    overflow-y: auto;
  }
  .header-fixed > tbody > tr > td,
  .header-fixed > thead > tr > th {
    width: 33.3%;
    float: right;
    background: transparent;
  }
}

.header-fixed > tbody {
  height: 400px;
}
.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
  text-align: center;
  padding: .65rem;
}
.header-fixed > thead > tr > th{
  background: var(--main-color);
  color: var(--white)
}
.header-fixed > thead > tr > th:first-child{
  border-radius: 0 13px 13px 0;
}
.header-fixed > thead > tr > th:last-child{
  border-radius: 13px 0 0 13px;
}

.header-fixed > tbody > tr > td{
  border-bottom: 1px dashed var(--main-color);
}

/* ======================= advice page ======================= */


/* ======================= policy page ======================= */
.policy {
  margin-bottom: 30px;
}

.policy li,
.policy p {
  margin-bottom: 1.5rem;
  color: #262626;
  font-weight: 300;
  line-height: 1.6;
}

/* ------------- media --------------- */
@media (max-width: 992px) {
  .navbar-toggler.closed .navbar-toggler-icon{
    background: url('../images/close.png');
    object-position: center center;
    background-size: contain;
  }
  .membership {
    padding-right: 2rem;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: relative;

  }
  .navbar .dropdown .dropdown-menu a {
    font-size: small;
  }
  .navbar .dropdown .dropdown-menu li:first-child a::before {
    content: none;
  }
}
@media (max-width: 991.8px) {
  .navbar-collapse{
    background-color: var(--main-color);
    position: absolute;
    top: 124px;
    left: 27px;
    padding: 2rem 4rem;
    border-radius: 20px;
    min-width: 288px;
  }
  .navbar-collapse .navbar-nav {
    width: 100% !important;
    margin: 0;
  }
  .navbar-collapse .navbar-nav .nav-link, 
  .navbar .dropdown .icon-arrow {
    color: var(--white) !important
  }
  .navbar-collapse .navbar-nav .nav-item {
    margin-bottom: 10px;
  }
  .navbar-collapse .navbar-nav .nav-link.active::after {
    content: "";
    width: 80%;
    left: 20%;
  }
  .navbar-toggler {
    border: none;
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }
  header .header-content .content {
    width: 80%;
  }
  .vision .vision-icon i {
    width: 100px;
    height: 100px;
    font-size: 36px;
  }
  footer .footer-content > li {
    width: 30%;
  }
  .about-data {
    padding: 2rem;
  }
  .vid-wrapper .play-icon,
  .vid-wrapper .pause-icon {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  .vid-wrapper video {
    width: 100%;
    border-radius: 20px;
    height: auto;
  }
  .join-wrapper{
    display: block;
    grid-template-columns: unset;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    justify-content: space-around;
    flex-direction: row;
    /* width: 75% !important; */
  }
  .navbar .container > ul li:last-child{
    display: none;
  }
}
/* @media (min-width:767.8px){
   .services-nav-sm{
      display: none;
   }  
} */
@media (max-width: 576px) {
  section{
    margin-top: 50px !important;
  }
  .row {
    margin: 0 !important;
  }
  .navbar-collapse {
    top: 85px;
    left: 16px;
  }
  .staff .nav-tabs .nav-link.active {
    margin-bottom: 0;
  }
  .staff .nav-tabs, .sub-gallery .nav-tabs {
    gap: 10px;
  }
  .navbar-light .navbar-brand img {
    width: 80px;
  }
  .navbar .custom-btn {
    font-size: small;
    padding: 0.35rem 1.25rem;
  }
  .navbar a {
    font-size: inherit;
  }
  .vision .vision-icon i {
    width: 80px;
    height: 80px;
    font-size: 36px;
  }
  .about ol li::before {
    width: 3.2em;
  }
  .new-cars .card .card-img-top {
    height: 150px !important;
  }
  footer .footer-content > li {
    width: 45%;
    transition: all 0.3s;
  }
  .op-pro-filter {
    display: flex;
  }
  .membership {
    padding-right: .5rem;
  }
  .membership.goals{
    padding: 2rem 0 !important;
  }

  .article .owl-nav button.owl-prev, .article .owl-nav button.owl-next{
    position: initial;
    transform: translate(0, 0);
  }
  .article .owl-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 2rem;
  }
  .gallery-wrapper{
    gap: 5px;
  }
  .gallery-wrapper .item {
    height: 120px;
  }
  .gallery-wrapper .item:nth-child(1) {
    grid-area: item1;
    border-radius: 0px 14px 0px 17px;
  }
  .gallery-wrapper .item:nth-child(2) {
    grid-area: item2;
    border-radius: 0px 14px 0px 17px;
  }
  .gallery-wrapper .item:nth-child(3) {
    grid-area: item3;
    border-radius: 14px 0px 15px 0px;
    height: 100%;
  }
  .gallery-wrapper .item:nth-child(4) {
    grid-area: item4;
    border-radius: 0px 14px 0px 17px;
  }
  .gallery-wrapper .item:nth-child(5) {
    grid-area: item5;
    border-radius: 14px 0px 17px 0px;
  }
  .gallery-wrapper .item:nth-child(6) {
    grid-area: item6;
    border-radius: 14px 0px 17px 0px;
  }
  .gallery-wrapper .item:nth-child(7) {
    grid-area: item7;
    border-radius: 0px 14px 0px 17px;
  }
  .partner-wrapper {
    padding: 15px 8px;
  }
  .send-email .container {
    padding: 1.5rem 0rem;
    padding-top: 2.5rem;
  }
  footer .logo img {
    width: 125px;
    padding: 0 0.5rem;
  }
  footer .footer-content {
    padding: 0;
    padding-top: 3rem;
  }
  .copyrights a {
    flex-wrap: wrap;
    text-align: center;
  }
  .blogs .card ul li {
    font-size: 10px;
  }
  /* .article .owl-nav button.owl-prev {
    right: 0%;
    transform: translate(-50%, 0%);
  }
  .article .owl-nav button.owl-next {
    left: 0%;
    transform: translate(50%, 0%);
  } */
  /* .services-nav {
    background-color: transparent;
    border-radius: 0;
    padding: 1rem;
    padding-top: 0;
  }
  .services-nav .nav {
    flex-wrap: nowrap;
    max-height: 213px;
    overflow-y: auto;
  }
  .services-nav .serv-pic {
    display: none !important;
  } */

  .about-data {
    padding: 0rem 0.5rem 1rem 0;
  }
  .arch-role .list{
    margin-top: 1rem;
  }
  .about ol li {
    padding: 20px 10px;
    padding-right: 45px;
  }
  header .header-content .content h2 {
    font-size: 20px;
  }
  header .header-content .content p {
    font-size: 12px;
  }
  header .header-content .content {
    width: 90%;
    margin-bottom: 30px;
  }
  .breadcrumb .content {
    font-size: small;
  }
  .breadcrumb .content {
    margin-top: 135px;
  }
  /* .custom-btn,
  .custom-btn-outline {
    font-size: 14px;
    width: 100px;
    height: 42px;
  } */
  header .header-content .content {
    margin-bottom: 15px;
  }
  .single-article .article-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .single-article .article-img,
  .single-article .article-img > img {
    height: 280px;
  }
  .vid-wrapper {
    position: relative;
    width: 100%;
    padding: 0 1.5rem;
  }  
  .sub-footer p {
    font-size: 12px;
  }
  footer .sub-footer img {
    width: 110px;
  }
  .gallery .photo img {
    height: 165px;
  }
  
}
/* @media (max-width: 786px) {
  header .web-img {
    display: none;
  }
  header .mob-img {
    display: block;
  }
} */
/* header .header-content .social .ln {
  width: 1px;
  height: 60px;
} */
