:root {
  /* Colors: */
  --main-color: #2bb673;
  --secondary-color: #f9c041;
  --rate: #ffbb00;
  --muted-text: #747474;
  --white: #fff;
  --black: #000;
  --dark: #6e6e6e;
  --light: #9196a1;
  --input: #fafafa;
}
::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.6rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

* {
  font-family: "Bahij", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

@font-face {
  font-family: "Bahij";
  src: url("../font/Bahij/Bahij_TheSansArabic-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Bahij";
  src: url("../font/Bahij/Bahij_TheSansArabic-ExtraBold.ttf");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Bahij";
  src: url("../font/Bahij/Bahij_TheSansArabic-SemiBold.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Bahij";
  src: url("../font/Bahij/Bahij_TheSansArabic-Plain.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Bahij";
  src: url("../font/Bahij/Bahij_TheSansArabic-SemiLight.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Bahij";
  src: url("../font/Bahij/Bahij_TheSansArabic-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bahij";
  src: url("../font/Bahij/Bahij_TheSansArabic-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

p {
  margin: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.63);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}
/* ------------- global --------------- */
body {
  direction: rtl;
  line-height: 1.7;
}
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  position: relative;
  width: 80px;
  letter-spacing: 2px;
  display: inline-block;
  box-sizing: border-box;
  animation: floating 1s ease-out infinite alternate;
}
.loader img {
  width: 80px;
}
.loader::after {
  content: "";
  width: 80%;
  height: 20px;
  background: rgba(0, 0, 0, 0.424);
  position: absolute;
  left: 10%;
  top: 110%;
  filter: blur(4px);
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 1s ease-out infinite alternate;
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-25px);
  }
}
@keyframes animloader {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.2);
  }
}
a {
  text-decoration: none;
  color: #000000;
}
ul {
  padding-left: 0rem !important;
  list-style: none;
}
.main-color {
  color: var(--main-color) !important;
}
.secondary-color {
  color: var(--secondary-color);
}
.bg-main-color {
  background-color: var(--main-color);
  color: #fff !important;
}
.bg-white {
  background-color: #fff;
  color: var(--main-color) !important;
}
.bg-secondary-color {
  background-color: var(--secondary-color);
  color: #fff !important;
}
::selection {
  color: #fff;
  background-color: #34347a50;
}
.nice-select {
  width: 100%;
  color: var(--dark);
}
.nice-select .list {
  width: 100%;
}
.nice-select {
  border: none;
}
.nice-select,
.nice-select .list li {
  text-align: right !important;
  padding-right: 18px;
  padding-left: 30px;
}
.nice-select:after {
  right: unset;
  left: 12px;
}
p + .form-control {
  margin-top: 0.75rem;
}
.form-control {
  padding: 0.75rem 0.75rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: 0.15s ease-in-out;
  box-shadow: none !important;
}
.accordion-button:not(.collapsed)::after {
  filter: brightness(0);
}
.accordion-button::after {
  margin-left: unset;
  margin-right: auto;
}
.link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  font-size: 21px;
}
.Stars::before {
  content: "★★★★★";
  background: linear-gradient(
    -90deg,
    #fc0 var(--percent),
    #b9b9b9 var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scrollUp {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
}
.more{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--main-color) !important;
}
.scrollUp i,
.scrollUp svg,
.more i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 35px;
  height: 35px;
  color: var(--main-color);
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 6px #00000029;
  transition: 0.5s;
  z-index: 8708;
}
.scrollUp i,
.scrollUp svg {
  font-size: 22px;
  width: 45px;
  height: 45px;
}
.link-more {
  color: var(--main-color) !important;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin-top: 10px;
}
.link-more .more i {
  background: var(--secondary-color);
}
.nav-tabs {
  border: none;
}
.breadcrumb {
  color: #fff;
  background-position: center center;
  background-size: cover;
  position: relative;
  background-color: var(--main-color);
}
.breadcrumb h6 {
  line-height: inherit;
  margin-bottom: 0;
}
.breadcrumb .content {
  display: flex;
  align-items: center;
  font-size: large;
  margin-top: 180px;
  margin-bottom: 80px;
}
#scroll-to {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
#scroll-to i,
#scroll-to svg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  box-shadow: 0px 0px 6px #00000029;
  color: var(--main-color);
}
section {
  margin-top: 100px !important;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.62);
  z-index: 3;
}
.custom-btn,
.custom-btn-outline {
  font-size: 17px;
  padding: 0.5rem 2.4rem;
  color: #fff !important;
  border-radius: 35px;
  text-align: center;
  overflow: hidden;
  position: relative;
  line-height: 2;
  background: linear-gradient(to right, var(--secondary-color) 50%, var(--main-color) 50%);
  background-size: 220% 120% !important;
  background-position: left bottom !important;
  transition: all .3s ease-out;
}

.custom-btn:hover {
  background-position: right bottom !important;
}
.custom-btn-outline {
  background: transparent;
  border: 1px solid #fff;
}
/* ------ owl-carousels section ------  */
.owl-carousel .owl-stage-outer {
  position: relative;
}
.owl-carousel .owl-stage {
  display: flex;
}

/* ------------- navbar ------------ */
.navbar {
  padding: 0.5rem 0;
  width: 100%;
  z-index: 999;
  position: absolute;
  background: transparent;
  border-radius: 0px 0px 30px 50px;
}
.navbar-nav {
  justify-content: space-evenly;
  width: 70% !important;
  margin: 0 auto;
}
.navbar-light .navbar-brand img {
  width: 130px;
  object-fit: contain;
  border-radius: 50%;
  overflow: initial;
  margin: 0.5rem 0;
}
.navbar a {
  color: #fff !important;
}
.navbar .nav-link.active {
  font-weight: bold;
}
.navbar-light .navbar-toggler-icon {
  background-image: url(../images/nav-menu.png);
}
.navbar .dropdown .show {
  display: block;
  max-height: 9999px;
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  animation: showAnimation 0.5s ease-in-out;
  -moz-animation: showAnimation 0.5s ease-in-out;
  -webkit-animation: showAnimation 0.5s ease-in-out;
  -moz-transition: max-height 1s ease-in-out;
  -o-transition: max-height 1s ease-in-out;
  -webkit-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  right: 0%;
}
.navbar .dropdown {
  cursor: pointer;
}
.navbar .dropdown .dropdown-menu {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
  background-color: transparent;
  border: none;
  width: max-content;
}
.navbar .dropdown .dropdown-menu a {
  margin: 5px 0;
  border-radius: 10px;
  display: block;
  padding: 0.25rem 1rem;
  background-color: var(--white);
  color: var(--main-color) !important;
  position: relative;
}

.navbar .dropdown .dropdown-menu li:first-child a::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--white);
  position: absolute;
  top: -6px;
  right: 25%;
}
.navbar .dropdown .hide {
  max-height: 0;
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  animation: hideAnimation 0.4s ease-out;
  -moz-animation: hideAnimation 0.4s ease-out;
  -webkit-animation: hideAnimation 0.4s ease-out;
  -moz-transition: max-height 0.6s ease-out;
  -o-transition: max-height 0.6s ease-out;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}
.navbar .dropdown .show,
.dropdown .hide {
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.navbar .dropdown .icon-arrow {
  position: absolute;
  display: block;
  font-size: 0.7em;
  color: #fff;
  top: 14px;
  left: -10px;
}
.navbar .dropdown .icon-arrow.open {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  top: 10px;
}
.navbar .dropdown .icon-arrow.close {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}
/* .navbar .custom-btn {
  background: linear-gradient(to right, var(--main-color) 50%, var(--secondary-color) 50%) !important;
} */
.navbar .custom-btn {
  background-position: right bottom !important;
}
.navbar .custom-btn:hover {
  background-position: left bottom !important;
}
.heading,
.staff .nav-tabs .nav-link.active {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--main-color);
  font-weight: 600;
  position: relative;
  width: max-content;
  border-bottom: 3px solid;
  margin-bottom: 1.5rem;
  padding: 0.5rem 0;
}
.heading::before,
.staff .nav-tabs .nav-link.active::before {
  content: "";
  width: 10px;
  height: 10px;
  background: var(--secondary-color);
  border-radius: 50%;
  position: absolute;
  bottom: -1px;
  right: 0;
  transform: translate(50%, 50%);
}
.heading i,
.staff .nav-tabs .nav-link.active i {
  width: 35px;
  height: 35px;
  font-size: 16px;
  display: inline-block;
  background: var(--main-color);
  color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes hideAnimation {
  0% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(0.8);
  }
  80% {
    transform: scaleY(1.02);
  }
  100% {
    transform: scaleY(0);
  }
}
@keyframes showAnimation {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.04);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.04);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.02);
  }
  100% {
    transform: scaleY(1);
  }
}
/* ======================= home page ======================= */

/* ------------- header -------------- */
header {
  position: relative;
}
header .overlay {
  background: var(--black);
  opacity: 0.7;
}
header .mob-img {
  display: none;
}
header img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
header .header-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 9;
}
header .header-content .content {
  width: 70%;
  padding: 0.25rem;
  margin-bottom: 40px;
}
header .header-content .content h2 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 700;
}
header .header-content .content h2 span {
  line-height: 1;
  vertical-align: baseline;
  color: var(--main-color);
}
header .header-content .content p {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
}
header .header-content .owl-carousel.owl-rtl .owl-item {
  display: flex;
  align-items: center;
}
header .header-content .owl-carousel .owl-dots {
  width: 20px;
  position: absolute;
  left: 0px;
  top: 140px;
  display: flex;
  flex-direction: column;
}
header .header-content .owl-carousel .owl-dots::before {
  position: relative;
  content: "";
  width: 1px;
  left: -10px;
  top: -5px;
  height: 75px;
  background-color: #fff;
}
header .header-content .owl-carousel .owl-dots .owl-dot{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(256, 256, 256, 0.4);
  margin: 5px;
  transition: all 0.4s;
}
header .header-content .owl-carousel .owl-dots .owl-dot.active{
  background: rgba(256, 256, 256, 1);
}

header .header-content .social {
  color: #fff;
  position: absolute;
  top: 0%;
  left: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  z-index: 9;
}
header .header-content .social i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 1px solid #fff;
  opacity: 0.8;
}

/* -------------- about -------------- */
.about {
  text-align: start;
}
.about .about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--muted-text);
}
.about .about-content h3 {
  color: var(--black);
}
.about .list {
  margin-bottom: 1rem;
}

.about .vid-wrapper {
  position: relative;
  background: #fff;
  box-shadow: 0px 2px 3px #00000001;
  border-radius: 26px;
  padding: 10px;
  height: 100%;
}

.about .vid-wrapper img,
.about .vid-wrapper video {
  position: relative;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
  z-index: 2;
}
.about .vid-wrapper:after {
  content: "";
  position: absolute;
  top: 18px;
  border-radius: 26px;
  left: 0px;
  width: calc(100% - 60px);
  height: calc(100% - 20px);
  background: var(--main-color);
}
.about:last-child .vid-wrapper::after {
  left: unset;
  right: 0px;
}
.about .vid-wrapper.seo:after {
  content: "";
  position: absolute;
  bottom: 10px;
  top: unset;
  border-radius: 26px;
  left: 10px;
  width: 95%;
  height: 72%;
  background: var(--main-color);
}

.vid-wrapper {
  position: relative;
  width: 100%;
}
.vid-wrapper video {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.vid-wrapper img.video-cover-img {
  position: absolute;
  right: 10px;
  top: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px) !important;
  z-index: 5;
  cursor: pointer;
  border: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
  filter: brightness(0.65);
}
.vid-wrapper .play-icon,
.vid-wrapper .pause-icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color) !important;
  font-size: 14px;
  background: var(--white);
}
.vid-wrapper .play-icon:before,
.vid-wrapper .pause-icon:before {
  content: "";
  position: absolute;
  border: 10px solid #ffffff88;
  border-radius: 100%;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  box-shadow: 0 0 0 10px #ffffff55;
}

.vid-wrapper > span {
  position: absolute;
  top: 50%;
  left: -30px;
  z-index: 2;
  transform: translateY(-50%);
  background: var(--orange);
  padding: 10px 30px;
  color: var(--white);
}
.vid-wrapper > span::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  border: 15px solid var(--orange);
  border-left-color: transparent;
  border-top-color: transparent;
}
.vid-wrapper > span > .video-duration {
  vertical-align: baseline;
}

/* ------ staff section ------  */
.staff .nav-tabs , .sub-gallery .nav-tabs{
  justify-content: center;
  gap: 50px;
}
.nav-tabs .nav-link {
  color: #7f7f7f;
  font-size: 18px;
  border: none;
}
.staff .nav-tabs .nav-link i {
  display: none;
}
.staff .card {
  background-color: var(--input);
  border-radius: 20px;
  border-radius: 20px;
  border: none !important;
  margin-top: 75px;
  padding-top: 170px;
}
.staff .card::after {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--secondary-color);
  border-radius: 0px 15px;
}
.staff .card .card-img-top {
  position: absolute;
  left: 1rem;
  right: .75rem;
  width: calc(100% - 1.5rem);
  top: -35px;
  mix-blend-mode: darken;
  border-radius: 20px;
  height: 200px;
  object-fit: cover;
  transition: .4s;
}
.staff .card h6 {
  color: var(--main-color);
}
.staff .card p {
  color: var(--muted-text);
  font-weight: 300;
  margin-bottom: 0.25rem;
}
.staff .card:hover .card-img-top {
  filter: brightness(0.86);
  transform: scale(1.05 , 1.1);
}
/* ------ membership sections ------ */
.membership {
 background: #efefef50;
 padding: 1.5rem 0;
 padding-right: 4rem;
}
.membership .card{
  margin-right: .5rem;
  padding: 2rem 1rem;
  border: none;
  background: var(--white);
  border-radius: 35px 0px 35px 35px;
}
.membership .card .card-header, .membership .card .card-footer{
  border: none;
  background: transparent;
}
.membership .card .icon{
  background: #2BB67320;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;
  padding: 18px;
}
.membership .card .card-title{
  color: var(--main-color) ;
  font-weight: 500;
  font-size: initial;
}
.membership .card .card-text{
  color: var(--muted-text);
  letter-spacing: 0px;
  font-size: 14px;
  font-weight: 400;
}
.membership .owl-carousel .owl-dots{
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 1rem;
}
.membership .owl-carousel .owl-dots .owl-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #40827B50;
  margin: 5px;
  transition: all 0.4s;
}
.membership .owl-carousel .owl-dots .owl-dot.active{
  background: #40827B;
}
.membership .custom-btn{
  display: block;
  width: max-content;
  margin: 2rem auto 0;
  /* margin-top: 1rem; */
}


.sub-gallery .nav-tabs{
  gap: 30px;
  margin: 1rem 0;
}
.sub-gallery .nav-tabs .nav-link.active{
  color: var(--secondary-color);
  font-weight: bold;
}
.gallery-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
      'item1 item2 item3 item4'
      'item5 item6 item3 item7';
  gap: 12px;
  padding: 10px;
}
.gallery-wrapper .item:nth-child(1) {
  grid-area: item1;
  border-radius: 0px 24px 0px 27px;
}
.gallery-wrapper .item:nth-child(2) {
  grid-area: item2;
  border-radius: 0px 24px 0px 27px;
}
.gallery-wrapper .item:nth-child(3) {
  grid-area: item3;
  border-radius: 34px 0px 35px 0px;
  height: 100%;
}
.gallery-wrapper .item:nth-child(4) {
  grid-area: item4;
  border-radius: 0px 34px 0px 37px;
}
.gallery-wrapper .item:nth-child(5) {
  grid-area: item5;
  border-radius: 34px 0px 37px 0px;
}
.gallery-wrapper .item:nth-child(6) {
  grid-area: item6;
  border-radius: 34px 0px 37px 0px;
}
.gallery-wrapper .item:nth-child(7) {
  grid-area: item7;
  border-radius: 0px 34px 0px 37px;
}

.gallery-wrapper .item {
  position: relative;
  height: 270px;
  overflow: hidden;
}
.gallery-wrapper .item img{
  height: 100%;
  object-fit: cover;
}
/* ------ partners sections ------ */
.partners {
  background: #efefef50;
  padding: 5rem 0;
}
.partners .owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}
.partner {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.partner-wrapper {
  padding: 20px 15px;
}
.partner-wrapper img {
  filter: grayscale(1);
  opacity: 0.85;
}
.partner .partner-wrapper img {
  filter: grayscale(0);
  opacity: 1;
}
.partners img {
  object-fit: contain;
}

/* ------------- footer --------------- */
.send-email {
  position: relative;
  z-index: 3;
}
.send-email .container {
  background: var(--main-color);
  box-shadow: 0px 10px 20px #7b7b7b4d;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  color: #fff;
  padding: 2.5rem 2rem;
  padding-top: 3.5rem;
  position: relative;
}
.send-data {
  text-align: center;
}
.send-data .form-control,
.form-control:focus {
  padding: 0.75rem 1.5rem;
  border: 1px solid #eeeeee;
  border-radius: 10px;
}
.send-data button {
  color: #fff;
  background-color: var(--secondary-color);
  border-radius: 50px;
  padding: 0.5rem 4rem;
  min-width: 40%;
  margin-top: 1.5rem;
}

footer {
  position: relative;
}
footer .logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  position: relative;
}
footer .logo img {
  width: 210px;
  display: block;
  background: var(--white);
  position: relative;
  padding: 0 2rem;
}
footer .logo::before {
  content: "";
  display: inline-flex;
  width: 90%;
  position: absolute;
  height: 3px;
  border-radius: 5px;
  background: var(--main-color);
}

footer .footer-content {
  background: #fff;
  border-radius: 20px;
  padding: 4rem 2rem;
  margin-bottom: 1rem;
  position: relative;
  box-shadow: 0px 14px 30px #0000001a;
  margin-top: -5rem;
  padding-top: 6rem;
}
footer .footer-content h5 {
  color: var(--secondary-color);
  font-weight: bold;
}
footer .footer-content li {
  padding-top: 1.2rem;
}
footer .footer-content li a {
  color: var(--black) !important;
  font-weight: 500;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
  font-size: 24px;
  line-height: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.social-media .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0px;
  position: relative;
  border: 1px solid var(--main-color);
  color: var(--main-color) !important;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  font-size: 16px;
  opacity: 0.7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.copyrights a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0.5rem 0;
}
.copyrights img {
  width: 120px;
}
.copyrights span {
  /* color: #fff; */
  font-size: small;
}
.router-link {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
}

/* ======================= services page =======================  */
.services-nav {
  background-color: var(--input);
  border-radius: 18px;
  padding: 2rem 1rem;
}
.services .services-nav .nav-link.active {
  color: #066868;
  font-weight: bold;
  background: transparent;
}
.services .services-nav .nav-link {
  color: #707070;
  text-align: right;
  margin: 8px 0px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 300;
  background: transparent;
}
.services .services-nav .nav-link .serv-pic,
.op-pro-filter .serv-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 15px;
  border: 1px dashed #066868;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .services-nav .nav-link .serv-pic img {
  filter: brightness(0) invert(0.4);
  width: 30px;
}
.services .services-nav .nav-link.active .serv-pic img,
.op-pro-filter .serv-pic img {
  filter: brightness(0) invert(1);
}
.services .services-nav .nav-link.active .serv-pic,
.op-pro-filter .serv-pic {
  background-color: #066868;
}
.op-pro-filter .serv-pic {
  width: 35px;
  height: 35px;
}
.op-pro-filter .serv-pic img {
  width: 20px;
}

.services-data {
  padding-right: 1.5rem;
}
.services .servHeadline {
  color: #066868;
  font-weight: bold;
  font-size: 21px;
  position: relative;
  padding: 0.45rem;
  padding-right: 1.45rem;
  margin: 1rem 0;
}
.services .servHeadline::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 100%;
  background: #066868;
  border-radius: 5px 0px 0px 5px;
  position: absolute;
  top: 0;
  right: 0;
}
.services-data p {
  color: #707070;
  font-weight: 300;
  margin-bottom: 1.75rem;
}

.services .services-data ol {
  list-style: none;
  margin-top: 1.75rem;
}
.services .services-data li {
  counter-increment: count;
  margin: 0.75rem 0;
}

.services .services-data li:before {
  content: counter(count);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  color: #066868;
  font-weight: 500;
  background: #fff;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 30%);
}
.services .custom-btn {
  background: #066868;
  font-weight: 500;
  /* width: 170px; */
}

.op-pro-filter {
  width: 100%;
  text-align: inherit;
  border-radius: 5px;
  background-color: transparent;
  color: #066868;
  border: 1px solid #066868;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-bottom: 20px;
  display: none;
  align-items: center;
  position: relative;
}
.op-pro-filter.active:after {
  transform: rotate(315deg);
  transition: all 0.3s;
  top: 30px;
}

.op-pro-filter:after {
  content: "";
  position: absolute;
  left: 15px;
  border-right: 2px solid #066868;
  border-top: 2px solid #066868;
  width: 10px;
  height: 10px;
  transform: rotate(135deg);
  transition: all 0.3s;
  top: 25px;
}

/* ======================= principle page =======================  */
.principle-wraper li {
  counter-increment: count;
  margin: 1rem 0;
  position: relative;
}
.principle-wraper li .card {
  background: #066868;
  color: #fff !important;
  border: none;
  padding: 1rem;
  border-radius: 15px;
}
.principle .principle-wraper li:before {
  content: counter(count);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #fff;
  border: 3px solid #fff;
  font-weight: 500;
  background: #066868;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 0;
  right: 0.5rem;
  transform: translatey(-50%);
  z-index: 99;
}

/* ======================= gallery page =======================  */
.gallery .photo a {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.gallery .photo img {
  transition: 0.4s;
  height: 215px;
  object-fit: cover;
}

/* -----------------  car-details page ----------------- */
.car-details .car-color-nav {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #9e9e9e29;
  border-radius: 12px;
  padding: 0.75rem 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
}
.car-details .nav-tabs .nav-item .nav-link {
  border: 0;
  margin-right: 1.5rem;
  color: #575757 !important;
  transition: 0.3s all;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px dashed #34347a;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.car-details .nav-tabs .nav-item .nav-link span {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  box-shadow: 0 0 0 1px transparent;
  transition: all 0.3s;
  margin: 0;
  border: none !important;
  box-shadow: 0px 3px 6px #00000029;
}
.car-details .nav-tabs .nav-item .nav-link.active {
  transform: scale(1.1);
}
.car-details .car-name {
  margin-bottom: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.car-details .car-img {
  border-radius: 20px;
  overflow: hidden;
}
.car-details .car-img img {
  height: 360px;
  object-fit: cover;
}
.car-details #common-q {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* =======================  articles page ======================= */
.article {
  text-align: center;
}
.article .article-wrapper .article-wrapper-img {
  border-radius: 19px;
  height: 320px;
  overflow: hidden;
  position: relative;
}
.article .article-wrapper .article-wrapper-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article .owl-nav button.owl-next,
.article .owl-nav button.owl-prev {
  position: absolute;
  font-size: 25px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 50%;
  color: var(--main-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 40px;
  height: 40px;
  top: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.article .owl-nav button.owl-next.disabled,
.article .owl-nav button.owl-prev.disabled {
  background-color: rgba(238, 238, 238, 0.911);
  /* opacity: 0.75; */
}
.article .owl-nav button.owl-next {
  left: 0%;
  transform: translate(-50%, 50%);
}
.article .owl-nav button.owl-prev {
  right: 0%;
  transform: translate(50%, 50%);
}
.article .article-wrapper p.cut-text {
  -webkit-line-clamp: 2;
  color: #9e9e9e;
  line-height: 1.8;
  margin: 1rem 0;
}

/* =======================  article page ======================= */
.single-article .article-img,
.single-article .article-img > img {
  height: 370px;
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover;
}
.single-article .article-header {
  padding-top: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #066868;
}
.single-article .article-header > div > span {
  padding: 0 0.4rem;
  color: var(--main-color);
}
.single-article .article-header img {
  width: 15px;
  margin-left: 5px;
  filter: brightness(0) invert(0.68);
}
.single-article .article-details p,
.single-article > .container > p {
  color: #262626;
  padding: 0.5rem 0;
}
.single-article .article-header > div > span {
  color: #9e9e9e;
}

/* =======================  services page ======================= */
.services .your-comment .form-control,
.services .your-comment textarea {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #fbfbfb;
}
.services .your-comment textarea {
  padding: 1rem;
}

/* =======================  common que page ======================= */
#common-q h5 {
  color: var(--main-color);
}
#common-q .accordion-item {
  border: none;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 1rem;
  overflow: hidden;
}
#common-q .accordion-button:focus {
  border: none;
  box-shadow: none !important;
}
#common-q .accordion-button:not(.collapsed) {
  box-shadow: none;
  border: none;
}
#common-q .accordion-header {
  overflow: hidden;
  background: #f2f4fa;
  border-radius: 8px !important;
}
#common-q .accordion-button {
  color: var(--main-color);
  position: relative;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  font-weight: 500;
  font-size: large;
  padding: 1rem;
  text-align: right !important;
  border: none !important;
}
#common-q .accordion-body {
  padding: 0 1.25rem 1rem 1.25rem;
}
#common-q .accordion-body ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4b4b4b;
}

/* =======================  contact page ======================= */
.contact-data .contact-info {
  background-color: #fcfcfc;
  text-align: center;
  padding: 2.5rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contact-data .row div:nth-child(1) .contact-info {
  border-top-right-radius: 40px;
}
.contact-data .row div:nth-child(3) .contact-info {
  border-top-left-radius: 40px;
}
.contact-data .row div:nth-child(2) .contact-info {
  border-left: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
}
.contact-data .contact-info h5 {
  color: #066868;
}
.contact-data i {
  display: inline-block;
  font-size: 30px;
  color: var(--secondary-color);
}
.contact-info:hover i {
  transform: scale(1.2);
}
.contact-info .phone-numbers {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact-data a {
  color: inherit;
}
.contact-data iframe {
  margin-top: 1rem;
  border-radius: 10px;
}

/* ======================= advice page ======================= */


/* ======================= policy page ======================= */
.policy {
  margin-bottom: 30px;
}

.policy li,
.policy p {
  margin-bottom: 1.5rem;
  color: #262626;
  font-weight: 300;
  line-height: 1.6;
}

/* ------------- media --------------- */
@media (max-width: 992px) {
  /* .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: flex;
    flex-direction: row-reverse;
  }
  .contact-info .phone-numbers {
    flex-direction: column;
  } */

  .navbar .dropdown .icon-arrow {
    transform: rotate(-90deg);
  }
  .navbar .dropdown .icon-arrow.open {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .navbar .dropdown .icon-arrow.close {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(-90deg);
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    right: 100px;
    top: -60px;
  }
  .navbar .dropdown .dropdown-menu li:first-child a::before {
    content: none;
  }
}
@media (max-width: 991.8px) {
  .navbar-collapse.show {
    background-color: var(--main-color);
    padding: 2rem;
    border-radius: 20px;
  }
  .navbar-collapse.show .navbar-nav {
    width: max-content !important;
    margin: 0;
  }
  .navbar-collapse.show .navbar-nav .nav-item {
    margin-bottom: 10px;
  }
  .navbar-collapse.show .navbar-nav .nav-link.active::after {
    content: "";
    width: 80%;
    left: 20%;
  }
  .navbar-toggler {
    border: none;
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }
  header .header-content .content {
    width: 80%;
  }
  footer .footer-content > li {
    width: 30%;
  }
  .about-data {
    padding: 2rem;
  }
  .vid-wrapper .play-icon,
  .vid-wrapper .pause-icon {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  .vid-wrapper video {
    width: 100%;
    border-radius: 20px;
    height: auto;
  }
  /* .navbar {
    border-radius: 0px 0px 30px 30px;
  } */
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    justify-content: space-around;
    flex-direction: row;
    width: 75% !important;
  }
}
/* @media (min-width:767.8px){
   .services-nav-sm{
      display: none;
   }  
} */
@media (max-width: 576px) {
  .navbar-light .navbar-brand img {
    width: 150px;
  }
  .navbar a {
    font-size: inherit;
  }
  .about ol li::before {
    width: 3.2em;
  }
  .new-cars .card .card-img-top {
    height: 150px !important;
  }
  footer .footer-content > li {
    width: 45%;
    transition: all 0.3s;
  }
  .op-pro-filter {
    display: flex;
  }
  /* .services-nav {
    background-color: transparent;
    border-radius: 0;
    padding: 1rem;
    padding-top: 0;
  }
  .services-nav .nav {
    flex-wrap: nowrap;
    max-height: 213px;
    overflow-y: auto;
  }
  .services-nav .serv-pic {
    display: none !important;
  } */

  .about-data {
    padding: 2rem 1.5rem 2rem 0;
  }
  .about ol li {
    padding: 20px 10px;
    padding-right: 45px;
  }
  header .header-content .content h2 {
    font-size: 20px;
  }
  header .header-content .content p {
    font-size: 12px;
  }
  header .header-content .content {
    width: 90%;
    margin-bottom: 30px;
  }
  .breadcrumb .content {
    font-size: small;
  }
  .breadcrumb .content {
    margin-top: 135px;
  }
  /* .custom-btn,
  .custom-btn-outline {
    font-size: 14px;
    width: 100px;
    height: 42px;
  } */
  header .header-content .content {
    margin-bottom: 15px;
  }
  .single-article .article-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .single-article .article-img,
  .single-article .article-img > img {
    height: 280px;
  }
  .vid-wrapper {
    position: relative;
    width: 100%;
    padding: 0 1.5rem;
  }  
  .sub-footer p {
    font-size: 12px;
  }
  footer .sub-footer img {
    width: 110px;
  }
  .gallery .photo img {
    height: 165px;
  }
  
}
@media (max-width: 786px) {
  header .web-img {
    display: none;
  }
  header .mob-img {
    display: block;
  }
}
/* header .header-content .social .ln {
  width: 1px;
  height: 60px;
} */
